.dashboard * {
  overflow: visible !important;
}

.dashboard {
  padding: 30px 0;
  overflow: visible;
}

.dashboard-row {
  width: 100%;
  margin: 0 !important;
}

.chart {
  background-color: #fff;
  padding: 20px;
  box-shadow: 2px 2px 50px 10px rgba(0, 0, 0, 0.05);
}

.apexcharts-menu-icon,
.apexcharts-toolbar {
  display: none !important;
}
