@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

// Variables
$primary-color: #723efe;
$secondary-color: #349bff;
$background-color: rgba(249, 250, 251, 0.3);

// Mixins
@mixin gradient-background {
  background-image: linear-gradient(
    90deg,
    $primary-color,
    $secondary-color
  ) !important;
}

// Styles
.App {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

/* Landing page navbar */
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: $background-color;
  backdrop-filter: blur(6px) !important;
  z-index: 9999;
  left: 0;
  right: 0;

  .navbar-left {
    display: flex;
    align-items: center;

    h3 {
      margin-left: 20px;
      align-self: center;
      margin-bottom: 0;
      overflow: hidden !important;
    }
  }
}

/* Hide arrows from input type number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* FAB */
.fab {
  box-shadow: none !important;
  margin: 20px 0 !important;
  @include gradient-background;
}

.modal-form-btn {
  border: none;
  outline: none;
  @include gradient-background;
  color: #fff !important;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 3px;
  box-shadow: 2px 2px 50px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 100%;
  padding: 10px;
}

/* Table */
.table {
  background-color: #fff;
  border: none;

  .progress {
    width: 65%;
    height: 5px;
    --bs-progress-bar-bg: $primary-color;
    color: transparent;
  }

  .progress-bar {
    color: transparent;
  }
}
